* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
.background {
  height: 100vh;
  width: 100%;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  position: absolute;
}
.trees {
  height: 100vh;
  width: 100%;
  background-image: url(trees.png);
  position: absolute;
  top: -144px;
}
.track {
  height: 60vh;
  width: 800vw;
  background-image: url(track.png);
  background-repeat: repeat-x;
  top: 70vh;
  position: absolute;
  animation: move linear 13s infinite;
}
.car {
  height: 100px;
  position: absolute;
  width: 380px;
  background-image: url(car_body.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 444px;
  bottom: 30vh;
  animation: shake linear 6s infinite;
}
.wheel_1 img {
  width: 77px;
  position: relative;
  top: 42px;
  left: 42px;
  animation: rotation linear 0.6s infinite;
}
.wheel_2 img {
  width: 77px;
  position: relative;
  top: -39px;
  left: 235px;
  animation: rotation linear 0.6s infinite;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes move {
  100% {
    transform: translateX(-500vw);
  }
}
@keyframes shake {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}
